.signInWelcomeContainer{
width:100vw;
height: 100vw;
}
.wellcomeStatment{
    position: absolute;
    color: white;
    width: 50%;
    padding: 0 25% 0 25%;
    top: 5em;
    display: flex;
    justify-content: center;
    background-color: transparent;
    flex-direction: column;
}
.wellcomeTitle{
    margin: 1rem;
    size: 2em;
    align-self: center;
}
.wellcomeText{
margin: .1em;
align-self: center;
}
.signInContainer{
top: 17.5rem;
}
.signInOrRegister{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.wellcomeStatment{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.welcomeAuth{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.registerDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logInDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.welcomeAuth{
    position: absolute;
    color: white;
    padding: 0 25% 0 25%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    flex-direction: column;
 
}
.RegisterBut{
    border: 2px hsl(11, 43%, 56%) solid;
}
.RegisterBut:hover{
    border: 2px #a94317 solid;
}
.RegisterBut:active{
    border: 2px hsl(11, 43%, 56%) solid;
}