/* pallet */
/* Color Theme Swatches in Hex */
.DarkBlue{ color: #1E2640; }
.BlueGrey { color: #2C3B59; }
.LightGrey { color: #8596A6; }
.rust{ color: #a94317; }
.peach { color: hsl(11, 43%, 56%); }
.white{color: #fff}




*{
  font-family: Roboto;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Segoe UI',  'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.inputStandard{
  border: 2px solid #2C3B59;
  color: #2C3B59;
  width: 20rem;
  height: 2rem;
  border-radius: 4%;
}
button{
  cursor:pointer;
}
.buttonStandard{
  background-color: #2C3B59;
  border: 1px solid #8596A6;
  color: #fff; 
  width: 8rem;
  overflow:visible;
  border-radius: 6%;
  padding: .5em;
  margin:  0.3rem  0.5rem 0.1rem 0.1rem;

}
.buttonStandard:hover{
  background-color: #2C3B59;
  border-color: #666;
  color: #fff;
}

.buttonStandard:active{
  background-color: #666;
  border-color: #8596A6;
  color: #fff;
}

/* spinner */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}